<div class="container containerPage">

  <header id="header" class="header-1">
    <img src="../assets/css/images/budget_tracker_wordmark.svg" width="700" alt="budgetTrackerLogo"
      style="display: block; margin-left: auto; margin-right: auto; padding-top: 8px;"
      onclick="window.location.href='/overview'" />
  </header>


  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <a class="nav-item nav-link" href="signup">Sign Up</a>
      <a class="nav-item nav-link" href="login">Login</a>
      <a class="nav-item nav-link" href="index">Manage/Add Expenses</a>
      <a class="nav-item nav-link" href="overview">Overview of Expenses</a>
    </a>
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg width="1em" height="1em"
          viewBox="0 0 16 16" class="bi bi-search btn-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg></button>
    </form>
  </nav>


  <div class="jumbotron-fluid jumbotronIndex">

    <table class="center" style="width:45%">
      <tr>
        <td>
         Let's get started! <br>
          *placeholder*
        </td>
        <td>

          <form id="addCategory" class="categoryInfo">
            <div>Add Category</div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input id="categoryInputName" type="text" class="form-control" placeholder="Category"
                aria-label="Category" aria-describedby="basic-addon1">

              {{!-- <div  class="input-group mb-3"> --}}

              <label class="sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select" id="categoryInputType">
                <option value="Budget">Budget</option>
                <option value="Cash">Cash</option>
                <option value="Savings">Savings</option>
                <option value="Expenses">Expenses</option>
              </select>
            </div>

            <button id="btn-add-bill" class="btn btn-primary" type="submit">Add</button>
          </form>
        </td>
      </tr>

      
      <tr>
        <td>
          <form id="addBill" class="billInfo">
            <div>Add Bill</div>
            {{!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div> --}}
            <input id="billInputName" type="text" class="form-control" placeholder="Bill / Company name"
              aria-label="Category" aria-describedby="basic-addon1">

            <div class="input-group mb-3">
              <input id="billInputWebsite" type="text" class="form-control" placeholder="Bill website link"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            {{!-- <div  class="input-group mb-3">
              <input id="billInputExpense" type="text" class="form-control" placeholder="0.00"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div> --}}

            <div class="input-group mb-3">
              <input id="billInputDate" type="text" class="form-control" placeholder="Due Date"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <button id="btn-add-bill" class="btn btn-primary" type="submit">Add</button>
          </form>
        </td>
        <td>
          Let's get started! <br>
          *placeholder*
          
        </td>
      </tr>


      <tr>
        <td>
         Let's get started! <br>
          *placeholder*
        </td>
        <td>
<form id="addExpense" class="expenseInfo">
            <div>Add Expense</div>
            {{!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div> --}}

            <label class="sr-only" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select" id="expenseInputCategory">
              {{#each category}}
              <option value={{id}}>{{categoryName}}</option>
              {{/each}}
            </select>

            <div id="exp-input" class="input-group mb-3">
              <input id="expenseInputName" type="text" class="form-control" placeholder="Expense Name"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <div id="exp-input">
              {{!-- class="input-group mb-3"> --}}
              <input id="expenseInputAmount" type="text" class="form-control" placeholder="0.00"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <div id="exp-input">
              {{!-- class="input-group mb-3"> --}}
              <input id="expenseInputDate" type="text" class="form-control" placeholder="Due Date"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
</br>
            <button class="btn btn-primary" type="submit">Add</button>
          </form>
        </td>
      </tr>

    </table>

</div>
  </div>
    </div>  </div>
      </div>
        </div>