<header id="header" class="header-1">
    <div id="logo">Logo/Title</div>
  </header>

 
  <!-- <div id="pie-chart" class="pie">Pie Chart</div> -->
  <container id="page-container">
  
    <div class="nav-links" class="float-right">
      <a class="nav-item nav-link" href="signup.handlebars">Sign Up</a>
      <a class="nav-item nav-link" href="login.handlebars">Log Into Your Account</a>
      <a class="nav-item nav-link" href="index.handlebars">Manage/Add Expenses</a>
      <a class="nav-item nav-link" href="overview.handlebars">Overview of Expenses</a>
      
      
  </div>

   <form id="form-input" class="form-1"> 
     
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="basic-addon1">
    </div>
  
  
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Expense" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text form-control" id="basic-addon2">0.00</span>
      <span class="input-group-text form-control" id="basic-addon2">0.00</span>
      <button id="pay" class="btn">Pay</button>
    </div>
  </div>

  <button id="btn-add-expense" class="btn">Add</button>
</form> 



</container>