<div class="container containerPage">

  <header id="header" class="header-1">
    <img src="../assets/css/images/budget_tracker_wordmark.svg" width="700" alt="budgetTrackerLogo"
      style="display: block; margin-left: auto; margin-right: auto; padding-top: 8px;"
      onclick="window.location.href='/overview'" />
  </header>


  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <a class="nav-item nav-link" href="signup">Sign Up</a>
      <a class="nav-item nav-link" href="login">Login</a>
      <a class="nav-item nav-link" href="index">Manage/Add Expenses</a>
      <a class="nav-item nav-link" href="overview">Overview of Expenses</a>
      <a class="nav-item nav-link" href="bills">Bill Pay</a>
      <a class="nav-item nav-link" href="charts">Charts</a>
    </a>

  </nav>


  <div class="jumbotron-fluid jumbotronIndex">

    <table class="center" style="width:45%">
      <tr>
        <th>
          Add a category to help you budget your <br>
          finances in a more organized way!
        </th>
        <td>
          <form id="addCategory" class="categoryInfo">
            <div>Add Category</div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input id="categoryInputName" type="text" class="form-control" placeholder="Category"
                aria-label="Category" aria-describedby="basic-addon1">

              {{!-- <div  class="input-group mb-3"> --}}

              <label class="sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select" id="categoryInputType">
                <option value="Budget">Budget</option>
                <option value="Cash">Cash</option>
                <option value="Savings">Savings</option>
                <option value="Expenses">Expenses</option>
              </select>
            </div>



            <button id="btn-add-bill" class="btn btn-primary" type="submit">Add</button>
          </form>
        </td>
      </tr>


      <tr>
        <td>
          <form id="addBill" class="billInfo">
            <div>Add Bill</div>
            {{!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div> --}}
            <input id="billInputName" type="text" class="form-control" placeholder="Bill / Company name"
              aria-label="Category" aria-describedby="basic-addon1">

            <div class="input-group mb-3">
              <input id="billInputWebsite" type="text" class="form-control" placeholder="Bill website link"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            {{!-- <div  class="input-group mb-3">
              <input id="billInputExpense" type="text" class="form-control" placeholder="0.00"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div> --}}

            <div class="input-group mb-3">
              <input id="billInputDate" type="text" class="form-control" placeholder="Due Date"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <button id="btn-add-bill" class="btn btn-primary" type="submit">Add</button>
          </form>
        </td>
        <th>
          Enter any and all bills you pay monthly to keep track of them. Then head on over to the Bill Pay page to view
          all your bills in one place!

        </th>
      </tr>


      <tr>
        <th>
          Let's get started! <br>
          Anything you buy with a debit card, credit card, online payment, or bank transfer is called an expense in
          Budget Tracker.
        </th>
        <td>


          <form id="addExpense" class="expenseInfo">
            <div>Add Expense</div>
            {{!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div> --}}

            <label class="sr-only" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select" id="expenseInputCategory">
              {{#each category}}
              <option value={{id}}>{{categoryName}}</option>
              {{/each}}
            </select>

            <div id="exp-input" class="input-group mb-3">
              <input id="expenseInputName" type="text" class="form-control" placeholder="Expense Name"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <div id="exp-input">
              {{!-- class="input-group mb-3"> --}}
              <input id="expenseInputAmount" type="text" class="form-control" placeholder="0.00"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <div id="exp-input">
              {{!-- class="input-group mb-3"> --}}
              <input id="expenseInputDate" type="text" class="form-control" placeholder="Due Date"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <button class="btn btn-primary" type="submit">Add</button>
          </form>
        </td>
      </tr>

    </table>

  </div>
</div>
</div>
</div>
</div>
</div>