<body>
    <container id="page-container">
    
  <header id="header" class="header-1">
    <div id="logo">Logo/Title</div>
  </header>

  <div class="nav-links" class="float-right">
    <a class="nav-item nav-link" href="signup.handlebars">Sign Up</a>
    <a class="nav-item nav-link" href="login.handlebars">Log Into Your Account</a>
    <a class="nav-item nav-link" href="index.handlebars">Manage/Add Expenses</a>
    <a class="nav-item nav-link" href="overview.handlebars">Overview of Expenses</a>
    
  </div>

  <!-- <div id="pie-chart" class="pie">Pie Chart</div> -->
  <div id="expenses-chart">Expenses Chart</div>
    <div id="pie-chart" class="pie">Pie Chart</div>
  




</container>