form.signup,
form.login {
  margin-top: 50px;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(252, 255, 254);
  background: linear-gradient(
    309deg,
    rgba(252, 255, 254, 0.9724264705882353) 34%,
    rgba(205, 205, 205, 1) 80%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: turquoise;
  min-height: 100vh;
}

.col-md {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
/* .containerPage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */



.col-lg-12 {
  height: 500px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.boxLogin {
  background-color: lightgray;
}

.boxSignup {
  background-color: lightgray;
}

.jumbotron-fluid {
  padding: 30px;
  height: 95%;
}

.jumbotronSignup {
  height: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotronOverview {
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.jumbotronIndex {
  height: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotronLogin {
  height: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.navbar-brand {
  color: blue;
  font-size: 20px;
}


.logo {
  margin-bottom: 110px;
  text-align: center;
}

td {
  text-align: center;
  font-size: 20px;
  font-style: normal;

}

th {
  text-align: center;
  font-size: 20px;
  font-style: normal;
}

tr {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 40px;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
  padding-top: 30px;

}

.btn-primary {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  width: 20px;
}

.togetherOverview {
  text-align: center;
  margin-top: -80px;
}

.row {
  margin-bottom: 20px;
  text-align: center;
}
/* #page-container {
  position: relative;
  min-height: 100vh;
} */

.btn-search {
  width: 90px;
}

#header {
  background: rgb(7, 223, 175);
  background: linear-gradient(
    309deg,
    rgba(7, 223, 175, 0.9724264705882353) 17%,
    rgba(8, 237, 233, 1) 66%
  );
  width: 100%;
  height: 100px;
}

.nav-links {
  margin-top: 10%;
  margin-left: 5%;
}

#form-input {
  width: 500px;
  color: black;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  /* position: absolute; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  top: 0;
  height: 100%;
  /* width: 50%; */
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

/* .input-group {
  height: 40px;
} */

.form-control {
  font-size: 20px;
  width: 300px;
  text-align: center;
  justify-content: center;
}

#addCategory, #addExpense, #addBill {
  width: 500px;
  
}

.btn {
  width: 130px;
  height: 45px;
  background-color: rgb(40, 161, 201);
  font-size: 20px;
  color: white;
}


.btn-default {
  color: white;
}
#btn-add-expense {
  background-color: aqua;
  color: black;
  height: 35px;
  align-self: center;
  justify-content: center;
}

#drop-down-tog {
  background-color: aqua;
  height: 40px;
}

#exp-input {
  margin-top: 10px;
}

#category-input {
  margin-top: 10px;
}

#bill-input {
  margin-top: 10px;
}

/* #dsply-all-ctgy {
  width: 600px;
  height: 600px;
  background-color: grey;
  margin-top: 10%;
  margin-left: 30%;
} */

#expenses-chart {
  width: 450px;
  height: 350px;
  float: left;
  background-color: rgb(233, 243, 247);
  margin-left: 32%;
  margin-bottom: 10%;
}

#pie-chart {
  width: 250px;
  height: 250px;
  float: right;
  background-color: rgb(148, 208, 231);
  margin-top: 5%;
  margin-right: 10%;
}

.exp-cht {
  font-size: 20px;
  width: 400px;
}

/* .row {
  margin-left: 5%;
  margin-top: 10%;
} */

.alt-link {
  font-size: 20px;
  color:black;
}

.alt-link-text {
  font-size: 20px;
  color: black;
}

.form-group {
  color: black;
  font-size: 20px;
  width: 350px;
  text-align: center;
  justify-content: center;
}

.form-h2 {
  color: black;
  font-size: 35px;
  margin-bottom: -30px;
  /* margin: 10px; */
}

.loginButton {
  background-color: linear-gradient(
    309deg,
    rgba(7, 223, 175, 0.9724264705882353) 17%,
    rgba(8, 237, 233, 1) 66%
  );
}

#email-input {
  text-align: center;
  justify-content: center;
}

.input {
  text-align: center;
  justify-content: center;
}

.tab {
  display: none;
}

/* .hide {
  display: none;
} */

#btn-bill {
  background-color: rgb(0, 255, 255);
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: black;
}

