* {
    font-family: 'Montserrat', sans-serif;
}


/* body {
    background-image: url('../images/waveSpill-01.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */


.navbar {
    height: 80px;
    background-color: #2A4FBC;
    color: white;
    font-size: 20px;
    width: 100%;
}

.jumbotron {
    width: 90%;
    height: 600px;
    margin-right: 5%;
    margin-left: 5%;
}

.alert {
    height: 500px;
    width: 1200px;
    align-self: center;
    background: #FFFFFF;

}


.container {
    text-align: center;
    text-justify: distribute;
}


.text {
    text-align: center;
    margin: 30px 40px 30px 40px;
    font-size: 20px;
}



.btn {
    margin:0 auto;
    display:block;
}

.card {
    height: 250px;
}

.card-body-account {
    margin-bottom: 30px;
    background-color: #FF7451;
    color: white;
}

.card-body-spending {
    background-color: #FFA800;
    color: white;
}


.card-body-income {
    background-color: #4066FF;
    color: white;
}

.card-text {
    text-align: center;
    margin: 30px 20px 30px 20px;
    font-size: 20px;
}

